h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
p {
    text-align: justify;
}
.a {
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    height: 36px;
    widht: 70px;
    border-radius: 8px;
}
.image-container {
            text-align: center;
}

    
