h1 {
    text-align: center;
    color: rgb(29, 151, 217)
}

h2 {
    text-align: center;
    color:rgb(114, 190, 236)
}

h3 {
    text-align: center;
    color: rgb(114, 190, 236)
}

p {
    text-align: justify;
    color: white;
}

.image-container {
            text-align: center;
}

.button {
    background-color: #dd6311;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
            border: none;
        }

.bodybackground {
    background-color: black;
    border-radius: 8px;
}

    
